@use '@/app/values.scss';

$p: 10px;
$header-icon-size: 30px;
$header-height: 50px;
$header-body-gap: 15px;

.fmodal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  max-height: 100%;
  background: transparent;
  pointer-events: none;
  padding: 50px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;

  transition: background 200ms;

  &--open {
    background: #000000af;
    pointer-events: all;

    .fmodal__header {
      display: flex;
    }
  }

  &--black {
    .fmodal__body {
      &>* {
        background: #000;
      }
    }
  }

  &__content {
    min-width: fit-content;
    width: fit-content;
    max-width: 100%;
    min-height: fit-content;
    height: fit-content;
    max-height: 100%;
    margin: auto;
  }

  &__header {
    display: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: values.$line-color;
    height: calc($header-height + $header-body-gap);
    border-bottom: 1px solid currentColor;
  }

  &__header-side-lines {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;

    @mixin side-line {
      content: '';
      position: absolute;
      bottom: 0;
      height: 0;
      transform: translateY(1.5px);
      box-sizing: content-box;
      width: $header-icon-size;
      border-bottom: 3px solid currentColor;
    }

    &::before {
      @include side-line();
      left: 0;
    }

    &::after {
      @include side-line();
      right: 0;
    }
  }

  &__header-left-filler {
    width: $header-icon-size;
    height: $header-icon-size;
  }

  &__header-text {
    line-height: calc($header-height + $header-body-gap);
    font-size: 32px;
    padding: 0 10px;
    white-space: nowrap;
    border-bottom: 3px solid currentColor;
    user-select: none;
  }

  &__header-icon {
    width: $header-icon-size;
    height: $header-icon-size;
    color: white;
    cursor: pointer;

    &:hover {
      background: #ffffff1a;
    }
  }

  &__body {
    display: block;
    min-width: 0;
    min-height: 0;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    max-height: calc(100% - $header-body-gap - $header-height);
    // overflow: auto;
    padding-top: $header-body-gap;
    font-size: 28px;
  }
}
