@use '@/app/values.scss';

.wrapper { 
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;
  cursor: pointer;

  &:hover {
    .icon {
      background: #ffffff27;
    }
    .text {
      text-shadow: 0 0 2px white;
    }
  }

}

.icon { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--aside-width) * 0.8);
  padding: 10px;
  user-select: none;
}

.text {
  font-family: 'Gemunu Libre';
  letter-spacing: 1px;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  user-select: none;
  padding: 2px 0;
}