@use '../lib/shared.scss';
@use '@/app/values.scss';

.header {
  display: flex;
  height: var(--header-height);
  max-height: var(--header-height);
  overflow: visible;
  z-index: 1;
  
  &__extra-buttons {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__extra-buttons-button {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.062);
    color: #3C9EA5;
    padding: 0 5px;
    border-radius: 4px;

    &:hover {
      background: rgba(255, 255, 255, 0.13);
    }
  }
}

.links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 0px;
}

@media (min-width: 1300px) {
  .links {
    gap: 65px;
  }
}
