@use '@/app/values.scss'; 

.wrapper {
  min-height: 75px;
}

.grid-row-value {
  display: grid;
  height: 75px; 
  grid-template-columns: 150px 150px 150px repeat(6, minmax(62px, 1fr)); 
  justify-items: center;
  align-items: center; 
  background-color: values.$color-primary;
  cursor: pointer;

  .span-2 { 
    grid-column: span 2;
  }

  .span-3 {
    color: values.$text-color-green;
  }

  .span-4 {
    color: values.$text-color-red;
  }

  .span-8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .power-unit {
    color: values.$line-color;
  }

}

.overflow { 
  height: 0;
  overflow-y: hidden; 

  transition:  height 200ms;

  &.active {
    height: 75px; 
  }

  .gpu-popup {
    margin-top: 10px;
    margin-left: 205px;
    width: fit-content; 
    display: flex;
    border-left: values.$line-size-2 solid values.$line-color;
    border-right: values.$line-size-2 solid values.$line-color;
  
    .gpu-flex-data {
      display: flex;
      flex-direction: column;
  
      padding: 0 15px 0 15px;
  
      border-right: values.$line-size solid values.$line-color;
    }
  
    .gpu-flex-data-1 {
      display: flex; 
      align-items: center;
      width: 100%; 
      gap: 15px;
      padding: 0 15px 0 15px;
    }
  } 
}
