@use '@/app/values.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding);
  gap: 30px;
  max-width: var(--page-max-width);
  margin: auto;
}

.notification {
  background: values.$color-primary;
  padding: 10px;

  span {
    color: values.$line-color;
    // padding: 0 5px;
  }
}