.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 10px;

    .label-data {
        text-align: right;
        opacity: 65%;
    }

    .value-data {
        display: flex;
        align-items: center;
        text-align: left;
    }
}