.wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    
        .label-data {
            text-align: right;
            opacity: 65%;
        }
    
        .value-data {
            min-width: 50px;
            text-align: left;
        }
    }
}