.count-box {
  --frame-color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--frame-color);
  border-width: 1px 7px;
  padding: 0 10px;
  font-weight: 100;
  font-size: 24px;
  min-width: max-content;

  &__label {
    color: inherit;
  }
  &__value {
    color: inherit;
  }
}
