.gpu-list-item {
  $xoffset: calc((#{$xborder} + #{$item-padding}));
  $id-min-width: 50px;
  $id-px: 20px;

  &__inner {
    display: grid;
    grid-template-columns: calc($grid-first-element-width - $xoffset) $grid-middle-template-columns calc($grid-last-element-width - $xoffset);
    gap: $grid-gap;
    align-items: $grid-align-items;
    justify-items: $grid-justify-items;
    background: $bg-inner-color;
    min-height: 80px;
  }
  
  &__unit {
    margin-left: 10px;
    color: values.$line-color;
  }

  &__id-and-fullname {
    justify-self: start;
    display: flex;
    // gap: $id-px;
    align-items: center;
  }

  &__id {
    flex-shrink: 0;
    // margin-left: $id-px;
    margin: 0 $id-px;
    min-width: $id-min-width;
    max-width: $id-min-width;
    overflow: hidden;
    display: inline;
    text-overflow: ellipsis;
  }

  &__fullname {
    display: block;
  }

  &__dropdown {
    $transition: all 200ms;
    height: 0px;
    transition: $transition;
    overflow: hidden;

    &--open {
      height: var(--gpu-dropdown-height);

      .gpu-list-item__dropdown-dropdown {
        transform: scaleY(1);
      }
    }
  }

  &__dropdown-dropdown {
    padding: $item-padding;
    height: fit-content;
    transform-origin: top center;
    transition: $transition;
    transform: scaleY(0);
    display: flex;
    gap: $grid-gap;
    padding-left: calc($id-min-width + $id-px * 2);
  }

  @mixin gpu-dropdown-item {
    padding: 10px;
    display: grid;
    grid-template-columns: auto minmax(20px, auto);
    column-gap: 40px;
    row-gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  &__dropdown-first-item {
    @include gpu-dropdown-item();
    border: 0px solid values.$line-color;
    border-left-width: 2px;
    border-right-width: 1px;
  }

  &__dropdown-second-item {
    @include gpu-dropdown-item();
    border-right: 2px solid values.$line-color;
  }

  &__dropdown-third-item {
    @include gpu-dropdown-item();
    border-right: 2px solid values.$line-color;
  }

  &__dropdown-item-label {
    opacity: 65%;
    white-space: pre;
  }

  &__dropdown-item-value {
    color: white;
    text-align: right
  }
}