@import '@/app/values.scss';

.monitoring { 
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  padding: var(--page-padding);

  height: 100%;

  .monitoring-main-content {
    display: flex;
    flex-direction: column; 
    gap: $padding-30;
  
    .flex-container-monitoring { 
    
      justify-content: center;
  
      gap: $padding-30;
    
      display: flex; 
      flex-wrap: wrap;
    } 
  
  }
  
  .flex-container-monitoring-footer {   
    padding-top: $padding-30;
  } 
}
