@use '@/app/values.scss' as values;
@use './variables.scss' as lv;

.wrapper {
  display: flex;
  flex-direction: column; 
  // justify-content: space-between;
  padding: var(--page-padding);
  height: 100%;
  max-width: var(--page-max-width);
  margin: auto;
  gap: var(--page-padding);
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--page-padding);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-stats-group {
  grid-column: span 2;
  display: flex;
  align-items: stretch;
  border: 1px solid values.$line-color;

  &>* {
    border-right: 1px solid values.$line-color;
    &:last-child {
      border: none;
    }
  }
}

.top-big-stats-group {
  grid-column: span 3;
}

.label-with-value-wrapper {
  padding: 7px;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  min-width: 0;

  .label-with-value {
    min-width: 0;
    min-height: 0;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    background: lv.$bg-inner-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: values.$text-size20;

    .label {
      min-width: 0;
      white-space: pre;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-size: inherit;
      opacity: 65%;
      margin: 0;
    }

    .value {
      color: white;
      min-width: 50px;
      text-align: right;

      .unit {
        margin-left: 7px;
        color: values.$line-color;
      }
    }
  }
}

.cpu {
  border: 1px solid values.$line-color;
  display: block;
  grid-column: span 3;

  .cpu-header-wrapper {
    border-bottom: 1px solid values.$line-color;
    padding: lv.$gpu-list-item-padding;
  }

  .cpu-header {
    display: block;
    background: lv.$bg-inner-color;
    padding: lv.$gpu-list-item-padding;
  }

  .cpu-bottom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .cpu-grid-item-wrapper {
      padding: lv.$gpu-list-item-padding;

      border-right: 1px solid values.$line-color;

      &:last-child {
        border: none;
      }
      
      .cpu-grid-item {
        padding: lv.$gpu-list-item-padding;
        background: lv.$bg-inner-color;
      }

    }
  }

  .cpu-stats-list-wrapper {
    padding: lv.$gpu-list-item-padding;

    .cpu-stats-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: lv.$gpu-list-item-padding;
      background: lv.$bg-inner-color;
    }
  }

  .cpu-stat-item {
    display: flex;
    justify-content: space-between;
    font-size: values.$text-size20;

    .label {
      opacity: 65%;
    }

    .value {
      color: white;
      white-space: nowrap;

      .unit {
        margin-left: 7px;
        color: values.$line-color;
      }
    }
  }
}

.coins {
  border: 1px solid values.$line-color;
  height: 100%;
  grid-column: span 3;
  font-size: values.$text-size20;

  .coins-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .coins-header-wrapper {
      padding: lv.$gpu-list-item-padding;
      border-bottom: 1px solid values.$line-color;
      min-height: 0;
      max-height: fit-content;

      .coins-header {
        padding: lv.$gpu-list-item-padding;
        background: lv.$bg-inner-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        &>* {
          opacity: 65%;
        }
      }
    }

    .coins-body-wrapper {
      padding: lv.$gpu-list-item-padding;
      flex-grow: 1;

      .coins-body {
        padding: lv.$gpu-list-item-padding;
        background: lv.$bg-inner-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        height: 100%;

        .coins-na-image {
          min-width: 0px;
          width: 100px;
          margin: auto;
          grid-column: span 3;
        }

        .unit {
          color: values.$line-color;
        }
      }
    }

  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  font-size: values.$text-size20;
  border-top: 1px solid values.$line-color;
  padding-top: 20px;

  .label {
    width: 100%;
    text-align: right;
    // justify-self: end;
    color: white;
    opacity: 65%;
  }
  
  .value {
    width: 100%;
    text-align: left;
    // justify-self: start;
    color: white;
  }
  // padding-top: values.$padding-30;
}

@media screen and (max-width: 1700px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .cpu,.coins {
    grid-column: span ;
  }

  .label-with-value-wrapper {
    grid-column: span 1;
    border: 1px solid values.$line-color;
  }
}

@media screen and (max-width: 950px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .cpu,.coins {
    grid-column: span 2 ;
  }

  .label-with-value-wrapper {
    grid-column: span 1;
    border: 1px solid values.$line-color;
  }
}

@media screen and (max-width: 650px) {
  .content {
    grid-template-columns: 1fr;
  }

  .cpu,.coins {
    grid-column: span 1 ;
  }

  .label-with-value-wrapper {
    .label-with-value {
      .label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 880px) {
  .footer {
    grid-template-columns: repeat(2, auto);
    min-width: 0;
    
    &>* {
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline;
    }

    .label {
      text-align: left;
    }
    
    .value {
      text-align: right;
    }
  }
}