@use '@/app/values.scss';

$bg-inner-color: #242834;
$item-padding: 7px;

.wrapper {
  display: flex;
  flex-direction: column; 
  // justify-content: space-between;
  padding: var(--page-padding);
  height: 100%;
  max-width: var(--page-max-width);
  margin: auto;
  gap: var(--page-padding);
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--page-padding);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-stats-group {
  grid-column: span 2;
  display: flex;
  align-items: stretch;
  border: 1px solid values.$line-color;

  &>* {
    border-right: 1px solid values.$line-color;
    &:last-child {
      border: none;
    }
  }
}

.top-big-stats-group {
  grid-column: span 3;
}

.label-with-value-wrapper {
  padding: 7px;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  min-width: 0;

  .label-with-value {
    min-width: 0;
    min-height: 0;
    padding: 10px;
    height: 100%;
    overflow: hidden;
    background: $bg-inner-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: values.$text-size20;

    .label {
      min-width: 0;
      white-space: pre;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
      font-size: inherit;
      opacity: 65%;
      margin: 0;
    }

    .value {
      color: white;
      min-width: 50px;
      text-align: right;

      .unit {
        margin-left: 7px;
        color: values.$line-color;
      }
    }
  }
}

.cpu {
  border: 1px solid values.$line-color;
  display: block;
  grid-column: span 3;

  .cpu-header-wrapper {
    border-bottom: 1px solid values.$line-color;
    padding: $item-padding;
  }

  .cpu-header {
    display: block;
    background: $bg-inner-color;
    padding: $item-padding;
  }

  .cpu-bottom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .cpu-grid-item-wrapper {
      padding: $item-padding;

      border-right: 1px solid values.$line-color;

      &:last-child {
        border: none;
      }
      
      .cpu-grid-item {
        padding: $item-padding;
        background: $bg-inner-color;
      }

    }
  }

  .cpu-stats-list-wrapper {
    padding: $item-padding;

    .cpu-stats-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: $item-padding;
      background: $bg-inner-color;
    }
  }

  .cpu-stat-item {
    display: flex;
    justify-content: space-between;
    font-size: values.$text-size20;

    .label {
      opacity: 65%;
    }

    .value {
      color: white;
      white-space: nowrap;

      .unit {
        margin-left: 7px;
        color: values.$line-color;
      }
    }
  }
}

.coins {
  border: 1px solid values.$line-color;
  height: 100%;
  grid-column: span 3;
  font-size: values.$text-size20;

  .coins-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .coins-header-wrapper {
      padding: $item-padding;
      border-bottom: 1px solid values.$line-color;
      min-height: 0;
      max-height: fit-content;

      .coins-header {
        padding: $item-padding;
        background: $bg-inner-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        &>* {
          opacity: 65%;
        }
      }
    }

    .coins-body-wrapper {
      padding: $item-padding;
      flex-grow: 1;

      .coins-body {
        padding: $item-padding;
        background: $bg-inner-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        height: 100%;

        .coins-na-image {
          min-width: 0px;
          width: 100px;
          margin: auto;
          grid-column: span 3;
        }

        .unit {
          color: values.$line-color;
        }
      }
    }

  }
}

.gpu-list-wrapper {
  --gpu-list-width: 100%;
  --gpu-list-height: 500px;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: fit-content;
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow: auto;

  .gpu-list {
    $grid-first-element-width: calc(var(--gpu-list-width) * 0.3);
    $grid-last-element-width: calc(var(--gpu-list-width) * 0.11);
    $grid-middle-template-columns: repeat(5, 1fr);
    $grid-template-columns: $grid-first-element-width $grid-middle-template-columns $grid-last-element-width;
    $grid-align-items: center;
    $grid-justify-items: center;
    $grid-gap: $item-padding;
    font-size: values.$text-size24;
    min-width: 1200px;
    width: 100%;
  
    .header {
      display: grid;
      grid-template-columns: $grid-first-element-width $grid-middle-template-columns $grid-last-element-width;;
  
      align-items: $grid-align-items;
      justify-items: $grid-justify-items;
      gap: $grid-gap;
      margin-bottom: 12px;
      color: rgba(255,255,255, .6);
  
      .counters {
        justify-self: start;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 38px;
        gap: 8px;
        color: white;
  
        .count-box {
          --frame-color: white;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--frame-color);
          border-width: 1px 7px;
          padding: 0 10px;
          font-weight: 100;
          font-size: 24px;
          min-width: max-content;
    
          .label {
            color: inherit;
          }
          .value {
            color: inherit;
          }
        }
      }
    }
  
    .gpu-list-grid-wrapper {
      $xborder: 4px;
      border: 1px solid values.$line-color;
      border-width: 1px $xborder;
  
      .na-image {
        height: 40px;
        min-width: 0;
        min-height: 0;
        width: fit-content;
        margin: 20px auto;
      }
  
      .gpu-list-body {
        display: flex;
        flex-direction: column;
        padding: $item-padding;
        gap: $grid-gap;
  
        .gpu-item-wrapper {
          $xoffset: calc((#{$xborder} + #{$item-padding}));
          $id-min-width: 50px;
          $id-px: 20px;
  
          .gpu-item {
            display: grid;
            grid-template-columns: calc($grid-first-element-width - $xoffset) $grid-middle-template-columns calc($grid-last-element-width - $xoffset);
            gap: $grid-gap;
            align-items: $grid-align-items;
            justify-items: $grid-justify-items;
            background: $bg-inner-color;
            min-height: 80px;
    
            .gpu-id-and-fullname {
              justify-self: start;
              display: flex;
              // gap: $id-px;
              align-items: center;
      
              .gpu-id {
                flex-shrink: 0;
                // margin-left: $id-px;
                margin: 0 $id-px;
                min-width: $id-min-width;
                max-width: $id-min-width;
                overflow: hidden;
                display: inline;
                text-overflow: ellipsis;
              }
            }
      
            .unit {
              margin-left: 10px;
              color: values.$line-color;
            }
          }
  
          .gpu-dropdown-wrapper {
            $transition: all 200ms;
  
            height: 0px;
            transition: $transition;
            overflow: hidden;
  
            .gpu-dropdown {
              padding: $item-padding;
              height: fit-content;
              transform-origin: top center;
              transition: $transition;
              transform: scaleY(0);
              display: flex;
              gap: $grid-gap;
    
              padding-left: calc($id-min-width + $id-px * 2);
    
              @mixin gpu-dropdown-item {
                padding: 10px;
                display: flex;
                gap: 40px;
                justify-content: space-between;
                align-items: center;
  
                .label {
                  opacity: 65%;
                  white-space: pre;
                }
    
                .value {
                  color: white;
                }
              }
    
              .gpu-dropdown-first-item {
                @include gpu-dropdown-item();
                border: 0px solid values.$line-color;
                border-left-width: 2px;
                border-right-width: 1px;
              }
    
              .gpu-dropdown-second-item {
                @include gpu-dropdown-item();
                border-right: 2px solid values.$line-color;
              }
            }
  
            &.open {
              height: var(--gpu-dropdown-height);
  
              .gpu-dropdown {
                transform: scaleY(1);
              }
            }
          }
  
        }
      }
    }
  }
}


.footer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  font-size: values.$text-size20;
  border-top: 1px solid values.$line-color;
  padding-top: 20px;

  .label {
    width: 100%;
    text-align: right;
    // justify-self: end;
    color: white;
    opacity: 65%;
  }
  
  .value {
    width: 100%;
    text-align: left;
    // justify-self: start;
    color: white;
  }
  // padding-top: values.$padding-30;
}

@media screen and (max-width: 1700px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .cpu,.coins {
    grid-column: span ;
  }

  .label-with-value-wrapper {
    grid-column: span 1;
    border: 1px solid values.$line-color;
  }
}

@media screen and (max-width: 950px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .cpu,.coins {
    grid-column: span 2 ;
  }

  .label-with-value-wrapper {
    grid-column: span 1;
    border: 1px solid values.$line-color;
  }
}

@media screen and (max-width: 650px) {
  .content {
    grid-template-columns: 1fr;
  }

  .cpu,.coins {
    grid-column: span 1 ;
  }

  .label-with-value-wrapper {
    .label-with-value {
      .label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 880px) {
  .footer {
    grid-template-columns: repeat(2, auto);
    min-width: 0;
    
    &>* {
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline;
    }

    .label {
      text-align: left;
    }
    
    .value {
      text-align: right;
    }
  }
}