@use "@/app/values.scss";

.main {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.main:global(.vertical) {
  flex-direction: column;
}

.delete-button {
  background: red;
  width: 35px;
  height: 35px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 5px red;
  }
}

.tridot-button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
}

.edit-button {
  background: values.$line-color;
  width: 35px;
  height: 35px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 5px values.$line-color;
  }
}
