.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  gap: 30px;
  padding: var(--page-padding);
  align-items: center;
  justify-content: center;
  max-width: var(--page-max-width);
  margin: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  display: none;
  width: 445px; 
}

@media screen and (min-width: 1260px) {
  .image {
    display: block; 
  }
}
